<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This project will build a WebObjects Application and any frameworks that you specify as one Jenkins job instead of &#xd;
you needing to create one job for each framework and/or application.&#xd;
&lt;h3&gt;Customizing Job Configuration&lt;/h3&gt;&#xd;
You will need to modify the Job configuration clicking on &lt;a href=&quot;configure&quot;&gt;Configure&lt;/a&gt; and setting the following:&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;&#xd;
    &lt;h4&gt;SCM&lt;/h4&gt;&#xd;
    You will need to specify one or more Git repositories to pull your projects from. &lt;em&gt;Note:&lt;/em&gt; If your Application and Frameworks &#xd;
    are in one Repository, this job assumes that they are at the same level in the directory hierarchy. If they are not &#xd;
    you will need to make modifications to both this job and the setupWonderProjectWorkspace.sh script that this job calls.&#xd;
  &lt;/li&gt;&#xd;
  &lt;li&gt;&#xd;
    &lt;h4&gt;Build Tasks&lt;/h4&gt;&#xd;
    You will need to specify one Ant task per WebObjects Framework and Application, in dependency order, that this job needs to build.&#xd;
  &lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
&lt;h3&gt;Runtime Parameters&lt;/h3&gt;&#xd;
Without changing the job configuration, you can:&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;Specify a custom &quot;Deployment Name&quot; for you Application&lt;/li&gt;&#xd;
  &lt;li&gt;Specify the version of Apple WebObjects™ to build against&lt;/li&gt;&#xd;
  &lt;li&gt;Specify the branch of Project Wonder.&lt;/li&gt;&#xd;
  &lt;li&gt;Specify if the build is for testing or deployment:&lt;/li&gt;&#xd;
    &lt;ol&gt;&#xd;
      &lt;li&gt;&lt;b&gt;Test Build&lt;/b&gt; (no embedded frameworks)&lt;/li&gt;&#xd;
      &lt;li&gt;&lt;b&gt;Deployment Build&lt;/b&gt; (fully embedded System and Local frameworks)&lt;/li&gt;&#xd;
    &lt;/ol&gt;&#xd;
&lt;/ul&gt;&#xd;
&lt;b&gt;NOTE:&lt;/b&gt; this project is intended to work in tandem with the &#xd;
&lt;a href=&quot;https://github.com/avendasora/WOJenkins_Job_InstallWOAndWOnder&quot;&gt;InstallWOAndWOnder&lt;/a&gt; Jenkins job. &#xd;
InstallWOAndWOnder will take care of downloading and installing WebObjects™ and cloning, building and installing Project WOnder&#xd;
in the JENKINS_HOME/WOFrameworksRepository so that they are available for this job to use.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>3</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PROJECT_NAME</name>
          <description>This is the name of the directory that contains the WebObjects application project that you want to build, i.e., the directory that contains the Sources, Components and Resources subdirectories). To specify frameworks that this application depends upon and should be built as part of this job then you will need to add additional Ant Tasks. Depending on your source code repository structure you may also need to add additional SCM to check them out into the &quot;Projects&quot; directory as well.</description>
          <defaultValue>SimpleBlog</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOYED_APPLICATION_NAME</name>
          <description>This setting allows you to specify a different name for an Application when it is built. You &lt;b&gt;must&lt;/b&gt; specify a value, even if it is the same as the PROJECT_NAME parameter above.</description>
          <defaultValue>SimpleBlog</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description>&lt;ul&gt;
&lt;li&gt;&lt;b&gt;Test Build&lt;/b&gt; will override the settings defined in WOLips and will not embed any frameworks in the built application, it will only link to them.&lt;/li&gt;
&lt;li&gt;&lt;b&gt;Deployment&lt;/b&gt; will obey the Deployment settings you defined for the project in WOLips, which should almost certainly be to embed both System and Local frameworks.&lt;/li&gt;
&lt;/ul&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Test Build</string>
              <string>Deployment</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>WO_VERSION</name>
          <description>This is the version of Apple™ WebObjects that you want to build against. It must have been already downloaded and installed in Jenkin&apos;s WOFrameworksRepository (JENKINS_HOME/WOFrameworkRepository). The easiest way to do this is by cloning and running the &lt;a href=&quot;https://github.com/avendasora/WOJenkins_Job_InstallWOAndWOnder&quot;&gt;InstallWOAndWOnder&lt;/a&gt; Jenkins job.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>5.4.3</string>
              <string>5.3.3</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WONDER_GIT_REFERENCE</name>
          <description>This is the branch of Wonder that you want to build against. This branch of Project WOnder must have been already built and installed in Jenkin&apos;s WOFrameworksRepository. The easiest way to do this is by cloning and running the &lt;a href=&quot;https://github.com/avendasora/WOJenkins_Job_InstallWOAndWOnder&quot;&gt;InstallWOAndWOnder&lt;/a&gt; Jenkins job.</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>JAVA_COMPATIBILITY_VERSION</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>1.5</string>
              <string>1.6</string>
              <string>1.7</string>
              <string>1.4</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM">
    <scms>
      <hudson.plugins.git.GitSCM>
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>origin</name>
            <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
            <url>https://github.com/daveeed/SimpleBlog.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>Projects</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <scmName>Project</scmName>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM>
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>origin</name>
            <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
            <url>https://github.com/avendasora/WOJenkins.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>WOJenkins</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <scmName>WOJenkins</scmName>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>${WORKSPACE}/WOJenkins/Build/WonderProjects/WorkspaceSetupScripts/setupWonderProjectWorkspace.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>build -verbose -propertyfile ${WORKSPACE}/Root/jenkins.build.properties -lib ${WORKSPACE}/Root/lib/woproject.jar</targets>
      <buildFile>Projects/SimpleBlogLogic/build.xml</buildFile>
      <properties>Projects/SimpleBlogLogic/</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant>
      <targets>build -verbose -propertyfile ${WORKSPACE}/Root/jenkins.build.properties -lib ${WORKSPACE}/Root/lib/woproject.jar</targets>
      <buildFile>Projects/${PROJECT_NAME}/build.xml</buildFile>
      <properties>Projects/${PROJECT_NAME}/
project.name=${DEPLOYED_APPLICATION_NAME}</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/dist/*.tar.gz</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>